.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/src/images/hero.jpg);
  background-size: cover;
  background-position: center;
  font-size: 50px;
  text-align: center;
}